<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改')"/>
</head>
<body>
<form class="layui-form">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">主键</label>
                    <div class="layui-input-block">
                        <input type="text" th:value="${sysRole.id}" name="id"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <!--手动输入-->
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label layui-required">角色名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="roleName" th:value="${sysRole.roleName}" lay-verify="required"
                                   autocomplete="off"
                                   placeholder="请输入账号" class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label layui-required">角色编码</label>
                        <div class="layui-input-inline">
                            <input type="text" name="roleCode" th:value="${sysRole.roleCode}"
                                   lay-verify="required|roleCode" autocomplete="off"
                                   placeholder="请输入姓名" class="layui-input"/>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">角色状态</label>
                        <div class="layui-input-inline">
                            <input type="checkbox" th:checked="${sysRole.isEnable eq '0'?true:false}" name="isEnable"
                                   th:value="${sysRole.isEnable}" lay-skin="switch" lay-text="启用|禁用"
                                   lay-filter="isEnable"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label layui-required">角色排序</label>
                        <div class="layui-input-inline">
                            <input type="text" name="sort" th:value="${sysRole.sort}" lay-verify="required|number"
                                   autocomplete="off"
                                   placeholder="请输入排序号" class="layui-input"/>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="reset" class="yueqian-btn yueqian-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
            <button type="submit" class="yueqian-btn yueqian-btn-primary yueqian-btn-sm" lay-submit=""
                    lay-filter="update">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
        </div>
    </div>
</form>
<th:block th:include="include :: footer"/>
<script>
    layui.use(['form', 'jquery','common', 'layerCustom'], function () {
        let form = layui.form,
            $ = layui.jquery,
            common = layui.common,
            layerCustom = layui.layerCustom;

        /*表单验证*/
        form.verify({});

        form.on('submit(update)', function (data) {
            if (common.isEmpty(data.isEnable)) {
                data.field.isEnable = "1";
            }
            $.ajax({
                url: '/sysRole/update',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'post',
                success: function (result) {
                    if (result.success) {
                        layerCustom.greenLaughMsg(result.msg, function () {
                            //刷新父页面的表格
                            parent.layui.table.reload('tableId')
                            //先得到当前iframe层的索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭弹出框
                            parent.layer.close(index);
                        })
                    } else {
                        layer.msg(result.msg);
                        return;
                    }
                }
            });
            return false;
        });
    })
</script>
<script>
</script>
</body>
</html>