<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ityueqiangu.system.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.ityueqiangu.system.domain.SysUser">
        <result column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="login_name" property="loginName" />
        <result column="password" property="password" />
        <result column="contact_information" property="contactInformation" />
        <result column="address" property="address" />
        <result column="sex" property="sex" />
        <result column="dept_id" property="deptId" />
        <result column="sort_num" property="sortNum" />
        <result column="avatar" property="avatar" />
        <result column="upper_leader_id" property="upperLeaderId" />
        <result column="upper_leader_name" property="upperLeaderName" />
        <result column="hire_date" property="hireDate" />
        <result column="salt" property="salt" />
        <result column="is_available" property="isAvailable" />
        <result column="is_deleted" property="isDeleted" />
        <result column="remark" property="remark" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_user_name" property="createUserName" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_user_name" property="updateUserName" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 表字段 -->
    <sql id="baseColumns">
     t.id
    , t.user_name
    , t.login_name
    , t.password
    , t.contact_information
    , t.address
    , t.sex
    , t.dept_id
    , t.sort_num
    , t.avatar
    , t.upper_leader_id
    , t.upper_leader_name
    , t.hire_date
    , t.salt
    , t.is_available
    , t.is_deleted
    , t.remark
    , t.create_user_id
    , t.create_user_name
    , t.create_time
    , t.update_user_id
    , t.update_user_name
    , t.update_time
    </sql>

    <!-- 分页查询 -->
    <select id="selectSysUserList" resultMap="BaseResultMap" parameterType="com.ityueqiangu.system.domain.SysUser">
        SELECT
        <include refid="baseColumns" />
        FROM sys_user t
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="id != null  and id != ''" >
                and t.id= #{id}
            </if>
            <if test="userName != null  and userName != ''" >
                and t.user_name= #{userName}
            </if>
            <if test="loginName != null  and loginName != ''" >
                and t.login_name= #{loginName}
            </if>
            <if test="password != null  and password != ''" >
                and t.password= #{password}
            </if>
            <if test="contactInformation != null  and contactInformation != ''" >
                and t.contact_information= #{contactInformation}
            </if>
            <if test="address != null  and address != ''" >
                and t.address= #{address}
            </if>
            <if test="sex != null  and sex != ''" >
                and t.sex= #{sex}
            </if>
            <if test="deptId != null  and deptId != ''" >
                and t.dept_id= #{deptId}
            </if>
            <if test="sortNum != null  and sortNum != ''" >
                and t.sort_num= #{sortNum}
            </if>
            <if test="avatar != null  and avatar != ''" >
                and t.avatar= #{avatar}
            </if>
            <if test="upperLeaderId != null  and upperLeaderId != ''" >
                and t.upper_leader_id= #{upperLeaderId}
            </if>
            <if test="upperLeaderName != null  and upperLeaderName != ''" >
                and t.upper_leader_name= #{upperLeaderName}
            </if>
            <if test="hireDate != null  and hireDate != ''" >
                and t.hire_date= #{hireDate}
            </if>
            <if test="salt != null  and salt != ''" >
                and t.salt= #{salt}
            </if>
            <if test="isAvailable != null  and isAvailable != ''" >
                and t.is_available= #{isAvailable}
            </if>
            <if test="isDeleted != null  and isDeleted != ''" >
                and t.is_deleted= #{isDeleted}
            </if>
            <if test="remark != null  and remark != ''" >
                and t.remark= #{remark}
            </if>
            <if test="createUserId != null  and createUserId != ''" >
                and t.create_user_id= #{createUserId}
            </if>
            <if test="createUserName != null  and createUserName != ''" >
                and t.create_user_name= #{createUserName}
            </if>
            <if test="createTime != null  and createTime != ''" >
                and t.create_time= #{createTime}
            </if>
            <if test="updateUserId != null  and updateUserId != ''" >
                and t.update_user_id= #{updateUserId}
            </if>
            <if test="updateUserName != null  and updateUserName != ''" >
                and t.update_user_name= #{updateUserName}
            </if>
            <if test="updateTime != null  and updateTime != ''" >
                and t.update_time= #{updateTime}
            </if>
        </trim>
    </select>

    <!-- 根据主键获取单条记录 -->
    <select id="selectSysUserById" resultMap="BaseResultMap" parameterType="Integer">
        SELECT
        <include refid="baseColumns" />
        FROM sys_user t
        WHERE t.id = #{id}
    </select>

    <!-- 插入不为NULL的字段 -->
    <insert id="insertSysUser" parameterType="com.ityueqiangu.system.domain.SysUser"
            keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        INSERT INTO sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null">
                user_name,
            </if>
            <if test="loginName != null">
                login_name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="contactInformation != null">
                contact_information,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="deptId != null">
                dept_id,
            </if>
            <if test="sortNum != null">
                sort_num,
            </if>
            <if test="avatar != null">
                avatar,
            </if>
            <if test="upperLeaderId != null">
                upper_leader_id,
            </if>
            <if test="upperLeaderName != null">
                upper_leader_name,
            </if>
            <if test="hireDate != null">
                hire_date,
            </if>
            <if test="salt != null">
                salt,
            </if>
            <if test="isAvailable != null">
                is_available,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createUserId != null">
                create_user_id,
            </if>
            <if test="createUserName != null">
                create_user_name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateUserId != null">
                update_user_id,
            </if>
            <if test="updateUserName != null">
                update_user_name,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="userName != null" >
                #{userName},
            </if>
            <if test="loginName != null" >
                #{loginName},
            </if>
            <if test="password != null" >
                #{password},
            </if>
            <if test="contactInformation != null" >
                #{contactInformation},
            </if>
            <if test="address != null" >
                #{address},
            </if>
            <if test="sex != null" >
                #{sex},
            </if>
            <if test="deptId != null" >
                #{deptId},
            </if>
            <if test="sortNum != null" >
                #{sortNum},
            </if>
            <if test="avatar != null" >
                #{avatar},
            </if>
            <if test="upperLeaderId != null" >
                #{upperLeaderId},
            </if>
            <if test="upperLeaderName != null" >
                #{upperLeaderName},
            </if>
            <if test="hireDate != null" >
                #{hireDate},
            </if>
            <if test="salt != null" >
                #{salt},
            </if>
            <if test="isAvailable != null" >
                #{isAvailable},
            </if>
            <if test="isDeleted != null" >
                #{isDeleted},
            </if>
            <if test="remark != null" >
                #{remark},
            </if>
            <if test="createUserId != null" >
                #{createUserId},
            </if>
            <if test="createUserName != null" >
                #{createUserName},
            </if>
            <if test="createTime != null" >
                #{createTime},
            </if>
            <if test="updateUserId != null" >
                #{updateUserId},
            </if>
            <if test="updateUserName != null" >
                #{updateUserName},
            </if>
            <if test="updateTime != null" >
                #{updateTime},
            </if>
        </trim>
    </insert>

    <!-- 更新不为NULL的字段 -->
    <update id="updateSysUser" parameterType="com.ityueqiangu.system.domain.SysUser">
        UPDATE sys_user
        <set>
            <if test="userName != null" >
                user_name=#{userName},
            </if>
            <if test="loginName != null" >
                login_name=#{loginName},
            </if>
            <if test="password != null" >
                password=#{password},
            </if>
            <if test="contactInformation != null" >
                contact_information=#{contactInformation},
            </if>
            <if test="address != null" >
                address=#{address},
            </if>
            <if test="sex != null" >
                sex=#{sex},
            </if>
            <if test="deptId != null" >
                dept_id=#{deptId},
            </if>
            <if test="sortNum != null" >
                sort_num=#{sortNum},
            </if>
            <if test="avatar != null" >
                avatar=#{avatar},
            </if>
            <if test="upperLeaderId != null" >
                upper_leader_id=#{upperLeaderId},
            </if>
            <if test="upperLeaderName != null" >
                upper_leader_name=#{upperLeaderName},
            </if>
            <if test="hireDate != null" >
                hire_date=#{hireDate},
            </if>
            <if test="salt != null" >
                salt=#{salt},
            </if>
            <if test="isAvailable != null" >
                is_available=#{isAvailable},
            </if>
            <if test="isDeleted != null" >
                is_deleted=#{isDeleted},
            </if>
            <if test="remark != null" >
                remark=#{remark},
            </if>
            <if test="createUserId != null" >
                create_user_id=#{createUserId},
            </if>
            <if test="createUserName != null" >
                create_user_name=#{createUserName},
            </if>
            <if test="createTime != null" >
                create_time=#{createTime},
            </if>
            <if test="updateUserId != null" >
                update_user_id=#{updateUserId},
            </if>
            <if test="updateUserName != null" >
                update_user_name=#{updateUserName},
            </if>
            <if test="updateTime != null" >
                update_time=#{updateTime},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 根据主键删除记录 -->
    <delete id="deleteSysUserById" parameterType="Integer">
        delete from sys_user where id = #{id}
	</delete>

    <select id="getOne" resultMap="BaseResultMap" parameterType="com.ityueqiangu.system.domain.SysUser">
        SELECT
        <include refid="baseColumns"/>
        FROM sys_user t
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="loginName != null  and loginName != ''">
                and t.login_name= #{loginName}
            </if>
        </trim>
    </select>


</mapper>