body {
    background-repeat: no-repeat;
    background-color: rgb(242,242,242);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
html { height: 100%; }
.content { flex: 1; }

/*头部*/
.layui-row-header { padding: 10px 50px;background-color: rgb(60, 64, 76);color: rgb(127, 198, 147);display: flex;justify-content: space-between;}
.layui-row-header .topInfo-left { display: flex }
.layui-row-header .topInfo-left i{margin-right: 10px }
.layui-row-header .topInfo-left p { font-size: 1.8rem;color: white;font-family: Verdana, Geneva, sans-serif;}
.layui-row-header .topinfo-right .no-login a{ color: white }
.layui-row-header .topinfo-right .no-login a:hover { text-decoration: underline; }
.layui-row-header .topinfo-right .no-login span{ margin: 0px 20px; padding: 3px 10px; border: 1px solid white; }
.layui-row-header .topinfo-right .layui-nav {background-color: rgb(60, 64, 76);height: 50px; margin-top: -10px;}
.layui-nav-header {border-radius: 0px;}
.layui-nav-header li{margin-left: 50px;}

/*首页*/
.index .main-content { padding: 30px 20px;width: 95%;height: 100%; }
.index .main-content .layui-card{ height: 450px }
.index .main-content .layui-card-header i{margin-right: 5px}
.index .main-content .layui-card-header span{ font-size: 1.1rem;}
.index .main-content  ul li { margin-bottom: 10px; }
.index .main-content  ul li a { display: flex; justify-content: space-between; }
.index .main-content  ul li a:hover { text-decoration: underline; }
.index .main-content .layui-card-wish i{ color: rgb(62,181,237)}


/*用户*/
.userCenter .main-container{display: flex;justify-content: flex-start;margin-top: 15px}
.userCenter .left-nav{height:calc(100vh - 140px);}
.userCenter .left-nav .layui-nav{height:100%;padding: 10px 0;}
.userCenter .right-content{margin-left: -40px;padding: 20px;}
/* 单行列表 */
.jie-row li{position: relative; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px dotted #E9E9E9; font-size: 0;}
.jie-row li *{position: relative; display:inline-block; *display:inline; *zoom:1; vertical-align: top; line-height: 20px; font-size:12px;}
.jie-row li span{padding: 0 6px; margin-right: 10px; background-color: #DADADA; color:#fff; font-size:12px;}
.jie-row li .jie-status{margin:0 10px 0 0;}
.jie-row li .jie-status-ok{background-color:#8FCDA0;}
.jie-row li a{ padding-right:15px; font-size:14px;}
.jie-row li cite{padding-right:15px;}
.jie-row li i, .jie-row li em, .jie-row li cite{font-size:12px; color:#999; font-style: normal;}
.jie-row li .mine-edit{margin-left:15px; padding:0 6px; background-color: #8FCDA0; color:#fff; font-size:12px;}
.jie-row li em{position:absolute; right:0; top:0;}
.jie-row li .jie-user{}
.jie-row li .jie-title{max-width: 70%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.jie-row li .jie-user img{position:relative; top: 16px; width: 35px; height: 35px;}
/* 我的消息 */
#LAY-minemsg{min-height:420px;}
.mine-msg li{position:relative; margin-bottom: 15px; padding: 10px 0 5px; line-height:24px; border-bottom:1px dotted #E9E9E9}
.mine-msg li cite{padding: 0 5px; color: #4F99CF;}
.mine-msg li i{color:#4F99CF; padding-right:5px;}
.mine-msg li>p{position: relative; margin-top: 5px; line-height: 26px; text-align: right;}
.mine-msg li>p span{position: absolute; left: 0; top: 0; color:#999;}
.mine-msg li .fly-delete{position: relative; top: -3px;}
.mine-msg li .layui-elem-quote p[download]{padding: 10px 0 5px;}

/* 设置 */
.avatar-add{position:relative; width:373px; height:373px; background-color:#F2F2F5;}
.avatar-add .upload-img{position:absolute; left:50%; top:35px; margin:0 0 0 -56px;}
.avatar-add img{position:absolute; left:50%; top:50%; width:168px; height:168px; margin:-50px 0 0 -84px; border-radius:100%;}
.avatar-add .loading{display:none; position:absolute; width:100%; height:100%; left:0; top:0; padding: 0; background-color:#000; opacity:0.5; filter: Alpha(opacity=50);}
.avatar-add p{position:absolute; top:70px; width:100%; margin-top: 10px;; font-size:12px; text-align:center; color:#999;}
.app-bind li{margin-bottom:10px; line-height:30px; color:#999;background-color: #F8F8F8;padding: 10px 15px;}
.app-bind li .iconfont{position: relative; top: 3px; margin-right: 5px; font-size:28px; }
.app-bind .app-havebind{color:#333;}
.app-bind .app-havebind .icon-qq{color:#7CA9C9}
.app-bind .app-havebind .icon-weibo{color:#E6162D}


/*底部*/
.layui-row-footer {
    width: 95%;
    height: 20px;
    padding: 15px 30px;
    border-top: 1px solid #C0C0C0;
}
.layui-row-footer p span { margin-left: 20px; }


/*详情*/
.layui-breadcrumb-div { margin: 20px 30px; }
.detail>.main { line-height: 45px; padding: 20px 100px; }
.detail>.main>h1 { text-align: center; }
.detail>.main>.info { text-align: center; }
.detail>.main p{ line-height: 30px; text-indent:2em; }
.detail>.main img{ max-width: 100%}

/*校园简介*/
.intro .layui-nav-tree { margin: 20px; }
.intro .layui-nav-tree .layui-nav-item { background-color: white; }
.intro .layui-nav-tree .layui-nav-item a { color: black; font-size: 1.08rem; }
.intro .layui-col-md-right{ margin: 20px; }
.intro .layui-col-content { display: none; }
.intro .layui-col-content p{ line-height: 30px; text-indent:2em; margin-top: 10px; }
.intro .show{ display: block; }

/*学生风采*/
.student .act-content { padding: 20px;}
.student .act-content .act-item { width: 27%;height:330px;float: left;margin-left: 60px;margin-bottom: 20px}
.student .act-content .act-item img { width: 100%; height: 250px; }
.student .act-content .act-item .info{ padding: 10px 15px;border-bottom: 1px dashed #DCDCDC; }
.student .act-content .act-item .activity-content{ display: flex;justify-content: space-between }
.student .act-content .act-item p { width: 80%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;color: #696969 }
.student .act-content .act-item .layui-badge-rim { color: rgb(0, 150, 136); }

/*活动详情*/
.activity-detail .layui-breadcrumb-div { margin: 20px 30px; }
.activity-detail .activity { line-height: 45px; padding: 20px 120px; }
.activity-detail  h1 { text-align: center; }
.activity-detail .activity-info { text-align: center;color: dimgray }
.activity-detail .activity-content { text-indent: 2em; line-height: 25px; margin-top: 20px}
.activity-detail img{ max-width: 100%}

/*育儿宝典*/
.parent .main{ width: 80%; margin:0 auto;display: flex;justify-content: space-between }
.parent .card{ width:45%;margin-top: 30px; }
.parent .card>.title{ height:30px;;border-bottom: 2px solid #DCDCDC; }
.parent .card>.title span{ font-size: 1.2rem;color: #00a65a;border-bottom: 3px solid #00a65a;padding:0px 40px 5px 10px; }
.parent .card>.content>.item{ width: 100%;height: 120px;float: left;margin-right: 20px;padding-top: 15px ;display: flex;border-bottom: 1px solid #F5F5F5; }
.parent .card .item img{ height: 80px;height: 80px }
.parent .card .item>.info{ width: 70%;margin-left: 15px}
.parent .card .item>.info>a{ font-size: 1.1rem;font-weight: bold; line-height: 35px }
.parent .card .item>.info p{ font-size: 0.8rem;line-height: 20px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden; }
.parent .card .page{ float: right }

/*育儿宝典详情*/
/*.detail .layui-breadcrumb-div { margin: 20px 30px; }
.detail .main-context { line-height: 45px; padding: 20px 150px; }
.detail  h1 { text-align: center; }
.detail .detail-info { text-align: center;color: dimgray }
.detail .detail-content {text-align: center; text-indent: 2em; line-height: 10px; margin-top: 20px;}*/

/*儿童乐园*/
.playground .play-content{ width: 70%;margin: 0 auto;padding: 30px 0px}
.playground .play-content .play-item{ width: 100%;height: 200px; background-color: #F5F5F5;display: flex;padding: 20px }
.playground .play-item img{ width: 300px;height:200px}
.playground .play-item>.play-info { margin-left: 20px;position: relative; }
.playground .play-item>.play-info h3{ font-weight: bold;margin-bottom: 15px }
.playground .play-item>.play-info .label{ color: grey;width: 50px }
.playground .play-item>.play-info .game-type-time { margin-bottom: 15px}
.playground .play-item>.play-info .game-intro{ display: flex }
.playground .play-item>.play-info .game-intro p{ }
.playground .play-item>.play-info button{ position: absolute;bottom: 0;}
.playground .play_page{ }

/*许愿池*/
.wish .form-wrapper { max-width: 80%; margin: 0 auto; padding: 20px; }
.wish .form-wrapper .no-login-tip{margin: 0 auto; background-color: white;width: 80%;padding: 10px;border-radius: 3px;display: flex }
.wish .form-wrapper .no-login-tip i{ color: #00a65a;font-size: 20px;margin-right: 8px }
.wish .form-wrapper .no-login-tip p{ color: #00a65a;font-weight: bold;font-family: Verdana, Geneva, sans-serif; }
.wish .form-wrapper .no-login-tip p a{ font-size: 1.04rem; color: #556B2F}
.wish .form-wrapper .no-login-tip p a:hover{ text-decoration: underline}
.wish .form-wrapper .layui-form { background-color: white; padding: 20px; border-radius: 3px; }
.wish .form-wrapper .layui-form p { color: #00a65a; }
.wish .form-wrapper .layui-form .layui-form-item { margin: 10px 0px; }
.wish .layui-tab-wrapper {
    max-width: 70%;
    margin: 0 auto;
    padding-left: 20px;
    background-color: white;
    border-radius: 3px;
}
.wish .layui-tab-wrapper .layui-tab-content .layui-row { padding: 10px 0px; }
.wish .layui-tab-wrapper .layui-tab-content .username { font-weight: bold; }
.wish .layui-tab-wrapper .layui-tab-content .time { font-size: 12px; color: grey; margin-left: 20px; }
.wish .layui-tab-wrapper .layui-tab-content .content { margin-top: 5px;font-size: 12px }
.wish .layui-tab-wrapper .layui-tab-content .reply {
    margin: 10px;
    padding:10px 10px 50px 10px;
    background-color: rgb(242,242,245);
    border-top: 1px solid #DCDCDC;
}
.wish .hasLike{
    color: #DC143C
}

