<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header(flag)">
    <div class="layui-row-header">
        <div class="topInfo-left">
            <i class="layui-icon layui-icon-theme"></i>
            <p><a href="/portal/index" style="color: white">跃迁谷基础服务平台欢迎您！</a></p>
        </div>
        <div class="topinfo-right">
            <div th:switch="${session.activerUser == null}">
                <div th:case="true">
                    <span class="no-login">
                    <a href="/portal/login">登录</a>
                    <span><a href="/sys/toRegister">注册</a></span>
                </span>
                </div>
                <div th:case="false">
                    <ul class="layui-nav" lay-filter="mine">
                        <li class="layui-nav-item">
                            <a href="">
                                <img th:if="${not #strings.isEmpty(session.activerUser.getUserInfo().getAvatar())}" th:src="${session.activerUser.getUserInfo().getAvatar()}" class="layui-nav-img">
                                <img th:if="${#strings.isEmpty(session.activerUser.getUserInfo().getAvatar())}" th:src="@{/component/portal/image/header.png}" class="layui-nav-img">
                                我</a>
                            <dl class="layui-nav-child">
                                <dd><a href="/sys/index">个人中心</a></dd>
                                <dd><a href="/sys/toSignOut">退出登录</a></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <ul class="layui-nav layui-nav-header" lay-filter="nav" style="border-radius: 0px">
        <li class="layui-nav-item" th:class="${flag=='1'?'layui-nav-item layui-this':'layui-nav-item'}" style="margin-left: 50px;"><a href="/portal/index">首页</a></li>
        <li class="layui-nav-item " th:class="${flag=='2'?'layui-nav-item layui-this':'layui-nav-item'}" style="margin-left: 50px;"><a href="/portal/intro">校园简介</a></li>
        <li class="layui-nav-item" th:class="${flag=='3'?'layui-nav-item layui-this':'layui-nav-item'}" style="margin-left: 50px;"><a href="/portal/student">学生风采</a></li>
        <li class="layui-nav-item" th:class="${flag=='4'?'layui-nav-item layui-this':'layui-nav-item'}" style="margin-left: 50px;"><a href="/portal/parent">育儿宝典</a></li>
        <li class="layui-nav-item" th:class="${flag=='5'?'layui-nav-item layui-this':'layui-nav-item'}" style="margin-left: 50px;"><a href="/portal/playground">儿童乐园</a></li>
        <li class="" th:class="${flag=='6'?'layui-nav-item layui-this':'layui-nav-item'}" style="margin-left: 50px;"><a href="/portal/wish">分享日志</a></li>
    </ul>
</div>
</html>