<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <th:block th:include="portal/common/include :: header('首页')"/>
    </head>
</head>
<body style="background-color: white">
<div class="content index">
    <div th:replace="../templates/portal/header :: header('1')"></div>
    <div class="layui-carousel" id="carousel">
        <div carousel-item="">
            <div>
                <a>
                    <img src="favicon.ico" style="width: 100%;height:100%">
                </a>
            </div>
        </div>
    </div>
    <div class="main-info">
<!--        <div class="teacher-show">-->
<!--            <div>-->
<!--                <span class="title">家教课程信息 | </span>-->
<!--                <a class="to-more" href="/portal/course">查看更多</a>-->
<!--            </div>-->
<!--            <div class="teacher-list" id="teacherImg">-->
<!--            </div>-->
<!--        </div>-->
<!--        <hr>-->
<!--        <div class="order-show">-->
<!--            <div>-->
<!--                <span class="title">招聘信息 | </span>-->
<!--                <a class="to-more" href="/portal/order">查看更多</a>-->
<!--            </div>-->
<!--            <ul class="order-list" id="orderList">-->
<!--            </ul>-->
<!--        </div>-->
        <hr>
            <div class="news-show">
            <div>
                <span class="title">新闻资讯 | </span>
                <a class="to-more" href="/portal/news">查看更多</a>
            </div>
            <ul class="news-list" id="newsList">
            </ul>
        </div>
    </div>
</div>
<div th:replace="../templates/portal/footer :: footer"></div>

<script id="teacherItem" type="text/html">
    {{# layui.each(d, function(index, item){ }}
    <div class="list-item">
        <a href="/portal/courseDetail?id={{item.id}}">
            <div class="info">
                <img src="/file/showImageByPath?path={{item.teacher.user.imgpath }}" alt="">
                <div class="info_txt">
                    <div class="name">
                        <i class="layui-icon layui-icon-rate-solid"></i>
                        <span>最佳老师</span>
                    </div>
                    <p style="color: grey">
                        <span>{{item.tutorGrade}}</span>
                        <span>&nbsp;{{item.tutorSubjects}}</span>
                    </p>
                    <p>{{item.teacherName}}</p>
                </div>
            </div>
            <div class="course">
                <span class="subject">{{item.tutorType == 1?'家教上门':(item.tutorType == 2?'学生上门':'网络辅导')}}</span>
                <span class="fee">￥{{item.tutorFee}}</span>
            </div>
        </a>
    </div>
    {{# }); }}
    {{# if(d.length === 0){ }}
    暂无家教信息
    {{# } }}
</script>

<script id="orderItem" type="text/html">
        {{# layui.each(d, function(index, item){ }}
        <li>
            <div>
                <i class="layui-icon layui-icon-speaker"></i>
                <a href="/portal/orderDetail?id={{item.id}}">{{item.orderTitle}}</a>
            </div>
            <p class="order-time">{{item.createTime}}</p>
        </li>
        {{# }); }}
        {{# if(d.length === 0){ }}
        暂无招聘信息
        {{# } }}
</script>

<script id="newsItem" type="text/html">
        {{# layui.each(d, function(index, item){ }}
        <li>
            <a href="/portal/newsDetail?id={{item.id}}">
                <i></i>
                <span>{{item.newsTitle}}</span>
            </a>
            <span style="color: grey">{{item.createTime}}</span>
        </li>
        {{# }); }}
        {{# if(d.length === 0){ }}
        暂无新闻
        {{# } }}
</script>

<th:block th:include="portal/common/include :: footer"/>

<script>
    layui.use(['carousel', 'element', 'laypage', 'layer', 'form', 'laytpl'], function () {
        var $ = layui.jquery;
        var carousel = layui.carousel;
        var laypage = layui.laypage;
        var laytpl = layui.laytpl;

        //建造实例
        carousel.render({
            elem: '#carousel'
            , width: '100%' //设置容器宽度
            , height: '350px' //设置容器高度
            , arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式
        });

        // /*家教列表渲染*/
        // (function () {
        //     $.post('/course/page', {page: 1, limit: 5 }, function (res) {
        //         if (res.code == 0){
        //             var getTpl = document.getElementById("teacherItem").innerHTML;
        //             laytpl(getTpl).render(res.data, function (html) {
        //                 document.getElementById("teacherImg").innerHTML = html;
        //             });
        //         }
        //     })
        // })();
        //
        // /*招聘列表渲染*/
        // (function () {
        //     $.post('/order/page', {page: 1, limit: 5 }, function (res) {
        //         if (res.code == 0){
        //             var getTpl = document.getElementById("orderItem").innerHTML;
        //             laytpl(getTpl).render(res.data, function (html) {
        //                 document.getElementById("orderList").innerHTML = html;
        //             });
        //         }
        //     })
        // })();
        //
        // /*新闻列表渲染*/
        // (function () {
        //     $.post('/news/page', {page: 1, limit: 5, isValid:'0' }, function (res) {
        //         if (res.code == 0){
        //             var getTpl = document.getElementById("newsItem").innerHTML;
        //             laytpl(getTpl).render(res.data, function (html) {
        //                 document.getElementById("newsList").innerHTML = html;
        //             });
        //         }
        //     })
        // })();
    });
</script>
</body>
</html>