<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="portal/common/include :: header('跃迁谷服务平台首页')"/>
</head>
<body>
<div class="content index">
    <div th:replace="../templates/portal/header :: header('1')"></div>
    <div class="layui-carousel" id="carousel">
        <div carousel-item>
            <div th:each="carouse,carouseStat: ${carouselList}">
                <a th:href="${carouse.url}">
                    <img th:src="${carouse.path}" style="width: 100%;height:100%" th:alt-title="${carouse.name}">
                </a>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space20 main-content">
        <div class="layui-col-md4">
            <div class="layui-card layui-card-new" style="position: relative">
                <div class="layui-card-header">
                    <i class="layui-icon layui-icon-align-left" style="color: #D2691E"></i>
                    <span>校园新闻</span>
                    <span style="font-size: 12px;color: grey">/ NEWS</span>
                </div>
                <div class="layui-card-body" id="news_div">
                </div>
                <div id="news_page" class="news_page_div" style="position: absolute;bottom: 0;right: 15px">
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card layui-card-notice" style="position: relative">
                <div class="layui-card-header layui-card-title">
                    <div>
                        <i class="layui-icon layui-icon-speaker" style="color: #FFA500"></i>
                        <span>最新咨询</span>
                        <span style="font-size: 12px;color: grey">/ INFORMATION</span>
                    </div>
                    <div>
                        <a>查看更多</a>
                    </div>
                </div>
                <div class="layui-card-body layui-card-content" id="information_div"></div>
                <div id="information_page" style="position: absolute;bottom: 0;right: 15px"></div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card layui-card-wish">
                <div class="layui-card-header">
                    <i class="layui-icon layui-icon-release"></i>
                    <span>园长寄语</span>
                </div>
                <div class="layui-card-body">
                    <p>亲爱的家长们：</p>
                    <p style="text-indent:1em;">
                        　　一所幼儿园教师的爱心、责任心、远比幼儿园的漂亮来得更重要。孩子在幼儿园学会生活、学会做人、学会求知、学会生存、学会审美，养成自信、好奇、坚毅、交往合作、关心他人的良好精神品质以及保持轻松愉快的情绪，这比机械的学这学那重要的多！</p>
                    <p style="text-indent:1em;">
                        　　因此，一直以来，上海市荷花池幼儿园的教师们时时牢记着自己肩负的职责，处处提醒着自己要用快乐去迎接每一天。用真情去爱每一个孩子，用心去交流，成为他们成长中的启蒙者。每天，当我们从家长手中接过孩子的那一瞬，我们深知家长对于我们的信赖，寄于我们的厚望，感谢各位家长对于我们工作的信任、理解与支持！</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="../templates/portal/footer :: footer"></div>

<script id="newsLi" type="text/html">
    <ul id="news_ul">
        {{# layui.each(d, function(index, item){ }}
        <li>
            <a href="/portal/newsDetail?id={{item.id}}">
                <span>{{item.newsTitle}}</span>
                <span style="font-size: 12px; color: grey">{{item.createTime}}</span>
            </a>
        </li>
        {{# }); }}
        {{# if(d.length === 0){ }}
        暂无新闻
        {{# } }}
    </ul>
</script>

<script id="informationTpl" type="text/html">
    {{# layui.each(d, function(index, item){ }}
    <a href="/portal/information/detail/{{item.infoCode}}" title="{{item.name}}">
        <ul>
            <li>
                <div class="notice-item">
                    <div class="yueqian-overflow">{{item.name}}</div>
                    <div>{{item.publishTime}}</div>
                </div>
            </li>
        </ul>
    </a>
    {{# }); }}
    {{# if(d.length === 0){ }}
    暂无通知
    {{# } }}
</script>

<th:block th:include="portal/common/include :: footer"/>

<script>
    layui.use(['carousel', 'element', 'laypage', 'layer', 'form', 'laytpl', 'common'], function () {
        var $ = layui.jquery;
        var carousel = layui.carousel;
        var laypage = layui.laypage;
        var common = layui.common;
        var laytpl = layui.laytpl;

        //建造实例
        carousel.render({
            elem: '#carousel'
            , width: '100%' //设置容器宽度
            , height: '450px' //设置容器高度
            , arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式
        });

        /*新闻列表渲染*/
        var renderInformation = function (data) {
            var getTpl = document.getElementById("informationTpl").innerHTML;
            laytpl(getTpl).render(data, function (html) {
                document.getElementById("information_div").innerHTML = html;
            });
        }
        var getInformation = function (page, limit) {
            $.get('/portal/information/listInformation', {page: page, limit: limit,orderByColumn:'createTime',isAsc:"desc"}, function (res) {
                if(res.code == 0){
                    renderInformation(res.data);
                }else {
                    renderInformation(null);
                }
            })
        }
        var pageInformation = function (total) {
            laypage.render({
                elem: 'information_page'
                , count: total
                ,groups: 3 //连续出现的页码个数 默认5
                , jump: function (obj, first) {
                    if (!first) {
                        getInformation(obj.curr, obj.limit);
                    }
                }
            });
        };
        (function () {
            $.get('/portal/information/listInformation', {page: 1, limit: 10,orderByColumn:'createTime',isAsc:"desc"}, function (res) {
                if(res.code==0){
                    renderInformation(res.data);
                    let total = res.total;
                    pageInformation(total);
                }
            })
        })();

        /*新闻列表渲染*/
        var renderNews = function (data) {
            var getTpl = document.getElementById("newsLi").innerHTML;
            laytpl(getTpl).render(data, function (html) {
                document.getElementById("news_div").innerHTML = html;
            });
        }
        var getNews = function (page, limit) {
            $.get('/ops/news/page', {page: page, limit: limit}, function (res) {
                renderNews(res.data);
            })
        }
        var pageNews = function (total) {
            laypage.render({
                elem: 'news_page'
                , count: total
                , jump: function (obj, first) {
                    if (!first) {
                        getNews(obj.curr, obj.limit);
                    }
                }
            });
        };
        // (function () {
        //     $.post('/ops/news/page', {page: 1, limit: 10, isValid: '0'}, function (res) {
        //         renderNews(res.data);
        //         var total = res.count;
        //         pageNews(total);
        //     })
        // })();
    });
</script>
</body>
</html>