<!-- 通用 CSS -->
<head th:fragment=header(title)>
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Access-Control-Allow-Origin" content="*"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" th:href="@{/component/yueqian/css/yueqian.css}">
    <link rel="stylesheet" th:href="@{/component/portal/css/portal.css}">
</head>

<!-- 通用 JAVASCRIPT -->
<div th:fragment="footer">
    <script th:src="@{/component/layui/layui.js}"></script>
    <script th:src="@{/component/yueqian/yueqian.js}"></script>
    <script th:src="@{/admin/js/jquery.min.js}"></script>
</div>

