<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include::header('用户新增')"/>
</head>
<body class="white-bg">
<form action="" method="post" class="layui-form" id="dataFrm" lay-filter="dataFrm">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">所属部门</label>
            <div class="layui-input-block">
                <input type="hidden" name="deptid" id="deptid">
                <ul id="deptTree" class="dtree" data-id="0"></ul>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">入职时间</label>
            <div class="layui-input-block">
                <input type="text" name="hiredate" id="hiredate" lay-verify="required" placeholder="yyyy-MM-dd HH:mm:ss" autocomplete="off" style="width: 217px" class="layui-input input-radius">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">领导部门</label>
            <div class="layui-input-block">
                <ul id="leaderdeptTree" class="dtree" data-id="0"></ul>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">直属领导</label>
            <div class="layui-input-block">
                <select name="mgr" id="mgr">
                    <option value="">请选择直属领导</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">用户名称</label>
            <div class="layui-input-block">
                <input type="hidden" name="id">
                <input type="text" name="name" id="username" lay-verify="required" autocomplete="off"
                       class="layui-input input-radius" placeholder="请输入用户名称">
            </div>
        </div>
        <div class="layui-inline" style="padding-left: 4%">
            <label class="layui-form-label">登陆名称</label>
            <div class="layui-input-block">
                <input type="text" name="loginname" id="loginname" lay-verify="required" autocomplete="off"
                       class="layui-input input-radius" placeholder="请输入登陆名称">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">用户地址</label>
            <div class="layui-input-block">
                <input type="text" name="address" id="address" class="layui-input input-radius" placeholder="请输入用户地址">
            </div>
        </div>
        <div class="layui-inline" style="padding-left: 4%">
            <label class="layui-form-label">排序码</label>
            <div class="layui-input-block">
                <input type="hidden" name="id">
                <input type="text" name="ordernum" id="ordernum" lay-verify="required|number" autocomplete="off"
                       class="layui-input input-radius" placeholder="请输入排序码">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">用户备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入用户备注" class="layui-textarea" name="remark" cols="200"></textarea>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">用户性别</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="1" title="男" checked="">
                <input type="radio" name="sex" value="0" title="女">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">是否可用</label>
            <div class="layui-input-block">
                <input type="radio" name="available" value="1" title="可用" checked="">
                <input type="radio" name="available" value="0" title="不可用">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block" style="text-align: center;padding-right: 7%">
            <button type="button" class="layui-btn layui-btn-radius" lay-submit="" lay-filter="doSubmit"
                    id="doSubmit"><i
                    class="layui-icon layui-icon-search layui-icon-normal"></i>提交
            </button>
            <button type="reset" onclick="javascript:document.getElementById('deptid').value=''" class="layui-btn layui-btn-radius layui-btn-warm"><i
                    class="layui-icon layui-icon-refresh"></i><span>重置</span>
            </button>
        </div>
    </div>
</form>

<th:block th:include="include :: footer"/>
<script type="text/javascript">
    layui.use(['jquery', 'form',  'laydate',  'layedit', 'dtree','laydate','common','popup'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var dtree = layui.dtree;
        var laydate = layui.laydate;
        var common = layui.common;
        var popup = layui.popup;

        //初始化时间选择器
        laydate.render({
            elem: "#hiredate",
            type: "datetime"
        });



        //初始化添加弹出层所属部门的下拉列表
        var deptTree = dtree.renderSelect({
            elem: "#deptTree",
            width: "100%", // 可以在这里指定树的宽度来填满div
            dataStyle: "layuiStyle", //使用layui风格的数据格式
            dataFormat: "list",     //配置data的风格为list
            response: {message: "msg", statusCode: 0},  //修改response中返回数据的定义
            url: "/dept/loadDeptManagerLeftTreeJson" // 使用url加载（可与data加载同时存在）
        });

        //监听所属部门点击方法
        dtree.on("node(deptTree)", function (obj) {
            //将该部门的id赋值给隐藏域，
            $("#deptid").val(obj.param.nodeId);
            console.log(obj.param.nodeId);
        });



        //初始化添加弹出层领导部门的下拉列表
        var leaderdeptTree = dtree.renderSelect({
            elem: "#leaderdeptTree",
            width: "100%", // 可以在这里指定树的宽度来填满div
            dataStyle: "layuiStyle", //使用layui风格的数据格式
            dataFormat: "list",     //配置data的风格为list
            response: {message: "msg", statusCode: 0},  //修改response中返回数据的定义
            url: "/dept/loadDeptManagerLeftTreeJson" // 使用url加载（可与data加载同时存在）
        });

        //监听点击的方法
        dtree.on("node(leaderdeptTree)", function (obj) {
            var deptId = obj.param.nodeId;
            //根据部门ID查询当前部门下面的领导列表
            $.get("/user/loadUsersByDeptId",{deptId:deptId},function (res) {
                var users = res.data;
                var dom_mgr=$("#mgr");
                var html = "<option value=''>请选择直属领导</option>";
                $.each(users,function (index, item) {
                    html+="<option value='"+item.id+"'>"+item.name+"</option>";
                });
                dom_mgr.html(html);
                //重新渲染
                form.render("select");
            })
        });


        //监听用户名失去焦点事件
        $("#username").on("blur",function () {
            var username = $(this).val();
            $.get("/user/changeChineseToPinyin",{username:username},function (res) {
                $("#loginname").val(res.value);
            })
        });
    })
</script>
</body>
</html>