<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('用户列表')"/>
    <link rel="stylesheet" th:href="@{/admin/css/other/user.css}"/>
</head>
<body class="yueqian-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="" lay-filter="user-query-form">
            <div class="layui-form-item">
                <label class="layui-form-label">用户</label>
                <div class="layui-input-inline">
                    <input type="text" name="realName" placeholder="" class="layui-input">
                </div>
                <label class="layui-form-label">账号</label>
                <div class="layui-input-inline">
                    <input type="text" name="userName" placeholder="" class="layui-input">
                </div>
                <button class="yueqian-btn yueqian-btn-md yueqian-btn-primary" lay-submit lay-filter="search">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="yueqian-btn yueqian-btn-md">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>

<div class="layui-card">
    <div class="layui-card-body">
        <table id="tableId" lay-filter="tableFilter"></table>
    </div>
</div>

<!--工具栏 表格上方-->
<script type="text/html" id="tableToolBar">
    <button class="yueqian-btn yueqian-btn-primary yueqian-btn-md" lay-event="add">
        <i class="layui-icon layui-icon-add-1"></i>
        新增
    </button>
</script>

<!--表格操作 表格内-->
<script type="text/html" id="tableTool">
    <a class="yueqian-btn yueqian-btn-warming yueqian-btn-md" lay-event="update">
        <i class="layui-icon layui-icon-edit"></i>
        修改
    </a>
    <a class="yueqian-btn yueqian-btn-danger yueqian-btn-md" lay-event="del">
        <i class="layui-icon layui-icon-delete"></i>
        删除
    </a>
</script>

<!--tps 标签展示区域-->
<script type="text/html" id="isEnableTpl">
    <input type="checkbox" name="enable" value="{{d.id}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="isEnable"
           {{d.isEnable== '1' ? 'checked' : '' }} />
</script>

<script type="text/html" id="sexTps">
    {{#if (d.sex == 0) { }}
    <span>男</span>
    {{# }else if(d.sex == 1){ }}
    <span>女</span>
    {{# } }}
</script>

<script type="text/html" id="avatarTps">
    <img style="height: 50px;width: 50px;cursor: pointer;"
         src="{{ d.avatar == null?'/admin/images/avatar.jpg':d.avatar }}"/>
</script>


<th:block th:include="include :: footer"/>
<script th:inline="none">
    layui.use(['element', 'table', 'form', 'jquery', 'layer', 'layerCustom', 'common'], function () {
        var element = layui.element,
            table = layui.table,
            $ = layui.jquery,
            layerCustom = layui.layerCustom,
            layer = layui.layer,
            common = layui.common,
            form = layui.form;

        var myTalbe = table.render({
            elem: '#tableId'
            , url: '/admin/sysUser/list'
            , skin: 'line'
            , toolbar: '#tableToolBar'
            , cols: [[
                {type: 'checkbox'},
                {title: '姓名', field: 'realName', align: 'center', width: 110},
                {title: '账号', field: 'userName', align: 'center'},
                {title: '性别', field: 'sex', align: 'center', templet: '#sexTps', width: 60},
                {title: '电话', field: 'phone', align: 'center'},
                {title: '用户状态', field: 'isEnable', align: 'center', templet: '#isEnableTpl', width: 120},
                {title: '注册时间', field: 'createTime', align: 'center'},
                {title: '操作', templet: '#tableTool', fixed: 'right', width: 250, align: 'center'}
            ]]
            , page: true
        });

        form.on("submit(search)", function (data) {
            myTalbe.reload({
                where: data.field,
                page: {curr: 1}
            });
            return false;
        });

        form.on("switch(isEnable)", function (data) {
            let operate;
            if (data.elem.checked) {
                operate = "0";
            } else {
                operate = "1";
            }
            let loading = layer.load();
            const url = "/admin/sysUser/updateStatus";
            const param = {
                id: this.value,
                isEnable: operate
            };
            $.post(url, param, function (result) {
                layer.close(loading);
                if (result.success) {
                    layerCustom.greenLaughMsg(result.msg);
                } else {
                    layerCustom.redCryMsg(result.msg);
                }
            });
        });

        //表格上层工具栏
        table.on('toolbar(tableFilter)', function (obj) {
            switch (obj.event) {
                case "add":
                    add();
                    break;
            }
        });

        //表格中操作栏
        table.on("tool(tableFilter)", function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case "update":
                    update(data);
                    break;
                case "del":
                    del(data);
                    break;
                case "authorization":
                    authorization(data);
                    break;
            }

            var event = obj.event;
            if (event === "showImg") {
                //预览图片
                if (common.isEmpty(data.avatar)) {
                    common.previewImg('/admin/images/avatar.jpg', 200, 300);
                } else {
                    common.previewImg(data.avatar);
                }

            }
        });

        function add() {
            layerCustom.open("添加用户", '/admin/sysUser/add', "750px", "600px", function (layero, index) {
            })
        }

        function update(data) {
            layerCustom.open("修改用户信息", '/admin/sysUser/edit?id=' + data.id, "750px", "600px", function (layero, index) {
                //给子页面赋值
                // var iframeWin = window[layero.find("iframe")[0]["name"]];
                // iframeWin.initForm(data);
            })
        }

        function del(data) {
            layerCustom.confirm("是否要删除该条数据", function () {
                var loading = layer.load();
                var params = {
                    id: data.id
                }
                $.ajax({
                    url: "/admin/sysUser/delete",
                    data: params,
                    dataType: 'json',
                    type: 'post',
                    success: function (result) {
                        layer.close(loading);
                        if (result.success) {
                            layerCustom.greenLaughMsg(result.msg, function () {
                                myTalbe.reload();
                            });
                        } else {
                            layerCustom.redCryMsg(result.msg);
                        }
                    }
                })
            })
        }
    });
</script>

</body>
</html>