<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改密码')"/>
</head>
<body>
<form action="" class="layui-form">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item">
                    <label class="layui-form-label layui-required">旧密码</label>
                    <div class="layui-input-block">
                        <input autocomplete="off" class="layui-input" lay-verify="required" name="oldPassword"
                               placeholder="请输入标题" type="password">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-required">新密码</label>
                    <div class="layui-input-block">
                        <input autocomplete="off" class="layui-input" lay-verify="required" name="newPassword" id="newPassword" placeholder="请输入标题" type="password">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-required">确认密码</label>
                    <div class="layui-input-block">
                        <input autocomplete="off" class="layui-input" lay-verify="required|confirmPassword" name="confirmPassword" placeholder="请输入标题" type="password">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button class="yueqian-btn yueqian-btn-primary yueqian-btn-sm" lay-filter="edit-password" lay-submit=""
                    type="submit">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button class="yueqian-btn yueqian-btn-sm" type="reset">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<th:block th:include="include :: footer"/>
<script>
    layui.use(['form', 'jquery', 'popup'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let popup = layui.popup;

        /*表单验证*/
        form.verify({
            confirmPassword: function (value) {
                var newPassword = $("#newPassword").val();
                if(newPassword!=value){
                    return "两次输入的密码不一致！";
                }
            }
        });

        form.on('submit(edit-password)', function (data) {
            $.ajax({
                url: '/admin/sysUser/editPassword',
                data: data.field,
                dataType: 'json',
                type: 'post',
                success: function (result) {
                    if (result.success) {
                        popup.success(result.msg, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                    } else {
                        popup.failure(result.msg);
                    }
                }
            })
            return false;
        });

    })
</script>
</body>
</html>